name: Flutter Web CI/CD

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: "stable"

      - name: Get dependencies
        run: flutter pub get
        working-directory: flutter_app

      - name: Build Flutter Web
        run: flutter build web --release
        working-directory: flutter_app

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: flutter_web_build
          path: flutter_app/build/web